body{
    margin:0;
    padding:0;
    background-color:#000;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

p{
    margin:0;
    font-size:60px;
    line-height:60px;
    text-align:justify;
    background-repeat: no-repeat;

    background-image:url("../Images/ell.jpg");
    background-size:cover;
    background-position:center;
   min-height: 100%;

    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
}